h3{
    font-weight: 700;
    text-decoration: underline;
}



.buttonContainer{
    display: flex;
    justify-content: center;
}


.sheetList{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 40px;
    @media(max-width: 768px){
        display: flex;
        flex-direction: column;
    }
        

}

.fullSheet,.miniSheet,.editSheet{
    border: solid #0c6620 2px;
    box-shadow: #81d26f 1px 1px 3px,
    #81d26f -1px -1px 3px;
    padding: 10px;
    line-height: 3rem
}

.fullSheet,.editSheet{
    grid-column-start: span 2;
}