div.loginModal{
    width: 50%;
    min-width: 500px;
    border: solid #0c6620 2px;
    box-shadow: #81d26f 1px 1px 3px,
    #81d26f -1px -1px 3px;
    padding: 10px;
    line-height: 3rem;
    margin: 0 auto;
        .buttonWrapper{
            margin: 0 auto;
            padding-top: 10px;
            width: 50%;
            display: flex;
            justify-content: space-between;
            button{
                width: 200px
            }
        }
}